html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

td a {
    display:block;
    width:auto;
    height: auto;
    text-align: center;
    text-decoration: none; 
    background-color: none;
}

.sizetables1 {
    width: 100px;
    height: 70px;
    font-size: 30px;
}

.sizetables2 {
    width: 100px;
    height: 150px;
    font-size: 30px;
}

.sizetables3 {
    width: 130px;
    height: 130px;
    font-size: 25px;
    background-color: green;
}

.hiddenform {
    display: inline;
  }
  
  .link-button {
    display: block;
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
    font-family: serif;
  }
  .link-button:focus {
    outline: none;
  }
  .link-button:active {
    color:red;
  }

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.column {

}